body {
	margin: 0;
	background-color: #FBFCFA;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	text-shadow: 0 0.25em 0.25em black;
	min-width: 800px;
}

h1, p{
	margin: 0;
}

input {
	box-shadow: inset 0 0 0.3125rem gray;
	border-radius: 0.3125rem;
}

/*Typography*/

#main-body h1{
	color: #FDE74C;
	font-size: 2.5rem;
	font-weight: bold;
}

#main-body p{
	color: #FFFFFF;
	font-size: 1.25rem;
	font-weight: lighter;
}

/*activity control*/
.active{
	display: block;
}

.inactive{
	display: none;
}

/*App body*/
#app-container {
	margin: 50px auto 0 auto;
	width: 90%;
	display: flex;
	justify-content: center;
}

#main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.zero-exp {
	height: 150px;
	width: 33%;
	transition: height 500ms, width 500ms;
}

#main-title{
	margin: auto;
	text-align: center;
	height: 5.5625rem;
	width: 100%;
}

#main-body {
	width: 100%;
	height: 100%;
	background-color: #4C5B5C;
	box-shadow: inset 0 0 10px black;
	border: none;
	border-radius: 20px;
	display: flex;
}

#first-exp-state-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	width: 100%;
}

/*swap-container*/

#swap-container{
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
}

#log, #swap-btn, #swap-infor{
	width: 90%;
}

#log {
	height: 120px;
	border: solid 1px black;
	border-radius: 10px;
	margin: auto auto 10px auto;
}

#log h1{
	text-align: center;
	color: whitesmoke;
	font-size: 1rem;
}

#log-message {
	margin-top: 10px;
}

#log p{
	font-size: 1rem;
}

#swap-btn {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: #4C5B5C;
	display: block;
	margin: 15px auto;
	height: 30px;
	background-color: #FDE74C;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

#swap-btn:hover, #swap-btn:focus {
	box-shadow: 0 0 10px #E3655B;
}

#swap-btn:active {
	color: #E3655B;
}

#swap-infor {
	margin: 0 auto;
}

#swap-infor input{
	width: 40%;
}
.swap-inline{
	display: flex;
	justify-content: space-between;
	margin: 5px 0;
}

#swap-infor input{
	font-family: 'Oswald', sans-serif;
}

/*second expension*/
#second-exp-state-container, #third-exp-state-container {
	margin: 10px auto;
	width: 100%;
}

#swap-tracker, #prob-of-success, #price-tracker, #statistical-data{
	margin: 10px auto;
	width: 90%;
	height: 200px;
	border-radius: 20px;
	text-align: center;
	border: solid 1px black;
}

#swap-tracker-graph, #prob-of-success-graph {
	margin: 10px auto;
	width: 200px;
	height: 120px;
}

#swap-tracker-setting, #prob-of-success-setting{
	text-align: right;
	border-radius: 10px;
	background-color: gray;
	opacity: 0.9;
	position: relative;
	transform: translate(5%,-90%);
	width: 90%;
	height: 180px;
}


.cls-btn {
	border-radius: 50%;
	border: none;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.exp-section-header p{
	display: inline;
	font-size: 12px;
}

.control-btn {
	width: 20px;
	height: 20px;
	padding: 0px;
	border-radius: 50%;
	border: none;
	margin: 5px 2.5px 0 0;
	cursor: pointer;
	background-color: #3891A6;
	box-shadow: 2px 2px 5px black;
	border: solid 1px black;
}

.control-btn:hover {
	background-color: #2bb6d6;
}
.control-btn:active {
	animation: shake 0.2s;
}

/*third expension*/


/*Expanding*/
.first-exp {
	height: 460px;
	width: 33%;
	transition: height 500ms, width 500ms;
}

.second-exp {
	height: 460px;
	width: 66%;
	transition: height 500ms, width 500ms;
}

.third-exp {
	height: 460px;
	width: 99%;
	transition: height 500ms, width 500ms;
}

.exp-btn {
	color: #FDE74C;
	background-color: #4C5B5C;
	border: solid 1px black;
	box-shadow: inset 0 0 10px black;
	transition: width 0.3s, height 0.3s;

}

#first-exp-btn {
	margin:0 auto;
	width: 50px;
	height: 30px;
	border-radius: 0 0 10px 10px;	
}

#first-exp-btn:hover {
	width: 60px;
	transition: width 0.3s;
}

#second-exp-btn:hover, #third-exp-btn:hover {
	height: 60px;
	transition: height 0.3s;
}

#sec-third-exp-btn-container{
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-around;
}

#sec-third-exp-btn-container button{
	width: 30px;
	height: 50px;
	border-radius: 0 10px 10px 0;
}


/*Animation*/
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
